<div class="col-md-12 col-lg-8 offset-lg-2">
    <div class="content-block content-block-head">
        <h2>Hello there! Get ready to take control of your finances with Personal Finance Manager.</h2>
    </div>
</div>

<div class="col-md-12 col-lg-8 offset-lg-2">
    <div class="content-block">
        <h5>
            The purpose of this web application is to help you control your financial transactions.<br><hr>
            In the application, you can create categories of operations that you have performed or are going to perform, view, change and delete them as needed.<br><hr>
            With the categories you've created, you can create and manage financial transactions you've made or plan to make.<br><hr>
            You can also create reports of operations for a certain period of time or by category.
        </h5>
    </div>
</div>
