<div class="col-md-6 offset-md-3">
    <div class="content-block">
        <h1>Вітаю Вас!</h1>
        <h3>Ви знаходитесь на головній сторінці веб додатку "Персональний менеджер фінансів"</h3>
    </div>
</div>
