<footer>
    <p>
        Powered by <a href="mailto:artem.kozatskyi@gmail.com">Artem Kozatskyi</a> © <span id="year"></span>
    </p>
    <a target="_blank" href="https://github.com/Kozatskiy-Artem"><i class="fa fa-3x fa-github"></i></a>
    <a target="_blank" href="https://www.linkedin.com/in/artem-kozatskyi/"><i class="fa fa-3x fa-linkedin"></i></a>
    <a target="_blank" href="tg://resolve?domain=kadjit13"><i class="fa fa-3x fa-paper-plane"></i></a>
    <a target="_blank" href="https://www.instagram.com/artem.kozatskiy13/?hl=ru"><i class="fa fa-3x fa-instagram"></i></a>
</footer>