<h1>Categories</h1>

<div class="content-block" id="categories">
  <p style="color: green"><%= notice %></p>
  <div class="table-responsive">
    <table class="table table-hover" id="userTable">
      <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
        <% @categories.each_with_index do |category, index| %>
          <%= render partial: "category", locals: { category: category, index: index } %>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @categories %>
  <%= link_to "New category", new_category_path, class: "btn btn-primary" %>
</div>
