<div class="col-md-4 offset-md-4">
  <div class="content-block content-block-head">
      <h1>Reports</h1>
      <p>Ви знаходитесь на сторінці Reports веб додатку "Персональний менеджер фінансів"</p>
  </div>
</div>

<div class="col-md-4 offset-md-4">
  <div class="content-block">
    <p style="color: red"><%= notice %></p>
    <%= render "form" %>
  </div>
  <br>
</div>
