<div class="col-md-6 offset-md-3">
    <div class="content-block">
        <h1>Reports</h1>
        <h3>Ви знаходитесь на сторінці Reports веб додатку "Персональний менеджер фінансів"</h3>
    </div>
</div>

<div class="col-md-4 offset-md-4">
  <div class="content-block">
    <p style="color: red"><%= notice %></p>
    <%= render "form" %>
  </div>
  <br>
</div>
