<h1>Editing operation</h1>

<div class="col-md-4 offset-md-4">
  <div class="content-block">
    <p style="color: green"><%= notice %></p>
    <%= render "form", operation: @operation %>
    <div class="col-md-5 offset-md-7">
      <%= link_to "Back to operations", operations_path, class: "btn btn-primary" %>
    </div>
  </div>
  <br>

</div>
